@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #5627a3;
}

.formLogin, .formRegister {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px;
    margin-bottom: 20px;
}

.areaLogin img {
    width: 420px;
}

.formLogin h1, .formRegister h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p, .formRegister p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.formLogin input, .formRegister input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}

.formLogin input:focus, .formRegister input:focus {
    border: 1px solid #5627a3;
}

.formLogin label, .formRegister label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a, .formRegister a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #ffffff;
    transition: all linear 160ms;
}

.formLogin a:hover, .formRegister a:hover {
    color: #5627a3;
}

.btn, .btn-register-link {
    background-color: #5627a3;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
}

.btn:hover, .btn-register-link:hover {
    transform: scale(1.05);
    background-color: #b406ff;
}

.btn-exit {
    background-color: #ff4444;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin-top: 1px !important;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
}

.btn-exit:hover {
    transform: scale(1.05);
    background-color: #ff2222;
}